<form id="searchForm" class="margin-bottom" th:action="@{~/search}" method="post">
  <input class="button-style" type="text" th:name="terms" th:value="${terms}" placeholder="Enter search terms"/>
  <input class="clickable button-style" type="submit" value="Search"/>
  <select class="clickable button-style" th:name="filter">
    <option value="books">Books</option>
    <option value="authors" th:selected="${filter=='authors'}">Authors</option>
    <option value="subjects" th:selected="${filter=='subjects'}">Subjects</option>
    <option value="lists" sec:authorize="isAuthenticated()" th:selected="${filter=='lists'}">Lists</option>
  </select>
  <select class="clickable button-style" th:name="order">
    <option value="asc">A-Z</option>
    <option value="desc" th:selected="${order=='desc'}">Z-A</option>
  </select>
  <input id="resultsPerPage" type="hidden" th:name="resultsPerPage" th:value="${resultsPerPage}">
</form>
