# Ignore all but the necessary project files
*
!.gitignore
!README.md
!pom.xml
!/src/
!/src/**

# Ignore all uploaded files but the defaults
/src/main/resources/uploads/*/*
!/src/main/resources/uploads/*/*default*
