<h2>Sign up for the library!</h2>
<form class="element-list" th:action="@{/signup}" method="post">
  <label for="email">Email*</label>
  <input class="button-style" type="text" placeholder="Enter your email" name="email" th:value="${email}? ${email}">
  <div th:each="emailError:${emailErrors}">
    <p class="help-message error-message" th:text="${emailError}"></p>
  </div>
  <label for="password">Password*</label>
  <input class="button-style" type="password" placeholder="Enter your password" name="password">
  <label for="passwordConfirm">Confirm password*</label>
  <input class="button-style" type="password" placeholder="Confirm your password" name="passwordConfirm">
  <div th:each="passwordError:${passwordErrors}">
    <p class="help-message error-message" th:text="${passwordError}"></p>
  </div>
  <p class="help-message">Required fields marked with *
  <br />Usernames and passwords must only contain alphanumeric characters.</p>
  <input class="clickable button-style" type="submit" value="Register"/>
</form>
