<h2 th:text="${book.name}"></h2>
<div class="grid-small-big">
  <img th:src="@{|~/books/${book.id}/cover.png|}" th:alt="${book.name}"/>
  <div>
    <h4>Actions</h4>
    <table class="full-width-table margin-bottom">
      <tr>
        <td>
          <a class="button-style" th:href="@{|~/books/${book.id}/read|(book='reader.epub')}">Read</a>
        </td>
      </tr>
      <tr>
        <td class="full-width">
          <a class="button-style" th:href="@{|~/books/${book.id}/reader.epub|}">Download</a>
        </td>
      </tr>
      <tr sec:authorize="isAuthenticated()">
        <td>
          <button class="button-style" th:attr="onclick=|openListPopup(${book.id},'books')|">Save</button>
        </td>
      </tr>
    </table>
    <h4>Authors</h4>
    <table class="full-width-table margin-bottom">
      <tr th:each="author:${book.authors}">
        <td class="full-width">
          <a class="button-style" th:href="@{|/authors/${author.id}|}" th:text="${author.name}"></a>
        </td>
        <td sec:authorize="isAuthenticated()">
          <button class="button-style" th:attr="onclick=|openListPopup(${author.id},'authors')|">Save</button>
        </td>
      </tr>
    </table>
    <h4>Subjects</h4>
    <table class="full-width-table">
      <tr th:each="subject:${book.subjects}">
        <td class="full-width">
          <a class="button-style" th:href="@{|/subjects/${subject.id}|}" th:text="${subject.name}"></a>
        </td>
        <td sec:authorize="isAuthenticated()">
          <button class="button-style" th:attr="onclick=|openListPopup(${subject.id},'subjects')|">Save</button>
        </td>
      </tr>
    </table>
  </div>
</div>
