
/*
Color Palette
Head/foot bg:   #9bb0d1
Main bg:        #F8F8F8
Head/foot text: #ffffff
Main text:      #444444
Link normal:    #0645AD
Link hover:     #0B0080
Input hover:    #F0F0F0
*/

/* Font by Paul D. Hunt - https://fonts.google.com/specimen/Source+Code+Pro */
@font-face {
  font-family: "Source Code Pro";
  src: url('../fonts/SourceCodePro/SourceCodePro-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-flow: column;
}

header {
  display: grid;
  grid-template-columns: 777fr 1fr;
}

header, footer {
  background-color: #9bb0d1;
}

header, footer, nav {
  font-family: "Verdana", serif;
}

header a, footer a {
  color: #FFFFFF !important;
}

header ul, footer {
  font-size: 16px;
}

footer {
  text-align: center;
}

main {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: #F8F8F8;
  color: #222222;
  font-family: "Helvetica", sans-serif;
}

a, a:visited {
  color: #0645AD;
  text-decoration: none;
}

a:hover {
  color: #222222 !important;
}

ul {
  padding-left: 16px;
  list-style-type: none;
}

td {
  padding: 4px 16px;
}

input, select {
  border: 2px solid #444444;
  border-radius: 1px;
  background: none;
  padding: 4px;
  font-size: 1em;
}

input:hover, select:hover {
  background-color: #F0F0F0;
}

img, video {
  max-height: 100%;
  width: 100%;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.padded-container {
  padding: 16px;
}

.margin-bottom, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 16px;
}

.element-list * {
  display: block;
}

.element-list input, .element-list li {
  margin-bottom: 16px;
}

.help-text {
  font-size: 0.8em;
}

#title {
  margin: 0;
  font-family: "Source Code Pro", monospace;
}
