<h2>Search the library!</h2>
<form class="margin-bottom" action="search" method="post">
  <input type="text" th:name="searchTerms" placeholder="Enter search terms"/>
  <input type="submit" value="Search"/>
  <select th:name="filter">
    <option value="books">Books</option>
    <option value="authors">Authors</option>
    <option value="publishers">Publishers</option>
    <option value="genres">Genres</option>
    <option value="lists">Lists</option>
  </select>
  <select th:name="sort" selectedIndex=2>
    <option value="date">By date</option>
    <option value="title">By title</option>
  </select>
  <select th:name="order">
    <option value="descending">Descending</option>
    <option value="ascending">Ascending</option>
  </select>
</form>
<table>
  <thead>
    <tr>
      <th>Book ID</th>
      <th>Book Title</th>
      <th>Publish Date</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="book:${books}">
      <td th:text="${book.id}"></td>
      <td th:text="${book.title}"></td>
      <td th:text="${book.publishDate}"></td>
    </tr>
  </tbody>
</table>