<h2>Search the library!</h2>
<form action="search" method="post">
  <input type="text" th:name="searchTerms" placeholder="Enter search terms"/>
  <input type="submit" value="Search"/>
  <select th:name="filter">
    <option value="books">Books</option>
    <option value="authors">Authors</option>
    <option value="publishers">Publishers</option>
    <option value="genres">Genres</option>
    <option value="lists">Lists</option>
  </select>
  <select th:name="sort" selectedIndex=2>
    <option value="date">By date</option>
    <option value="title">By title</option>
  </select>
  <select th:name="order">
    <option value="descending">Descending</option>
    <option value="ascending">Ascending</option>
  </select>
  <table>
    <thead>
      <tr>
        <th class="col-3">Book ID</th>
        <th class="col-3">Book Title</th>
        <th class="col-3">Publish Date</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="book:${books}" >
        <td class="col-3" th:text="${book.id}"></td>
        <td class="col-3" th:text="${book.title}"></td>
        <td class="col-3" th:text="${book.publishDate}"></td>
      </tr>
    </tbody>
  </table>
</form>
<p id="result"></p>
