<h2>Search the library!</h2>
<form action="search" method="post">
  <input type="text" th:name="searchTerms" placeholder="Enter search terms"/>
  <input type="submit" value="Search"/>
  <select th:name="filter">
    <option value="unfiltered">Unfiltered</option>
    <option value="books">Books</option>
    <option value="authors">Authors</option>
    <option value="publishers">Publishers</option>
    <option value="genres">Genres</option>
    <option value="lists">Lists</option>
  </select>
  <select th:name="sort" selectedIndex=2>
    <option value="date">By date</option>
    <option value="name">By name</option>
  </select>
  <select th:name="order">
    <option value="descending">Descending</option>
    <option value="ascending">Ascending</option>
  </select>
</form>
<p id="result"></p>
