<h2>About the library!</h2>
<div class="grid-2">
  <p>
    This project was built using Spring Boot for my case study project in full
    stack Java development. The project files are open source and can be found on
    <a href="https://github.com/AAAAAAidan/Simple-Library" target="_blank">GitHub</a>.
    All books on the site are public domain and therefore free to be downloaded,
    modified, or used however you like. Special thanks to everyone at
    <a href="https://perscholas.org" target="_blank">Per Scholas</a>,
    <a href="https://bibi.epub.link" target="_blank">Bibi</a>,
    <a href="https://www.gutenberg.org" target="_blank">Project Gutenberg</a>,
    <a href="https://gutendex.com" target="_blank">Gutendex</a>,
    <a href="https://www.flaticon.com/authors/good-ware" target="_blank">Good Ware</a>,
    and all of the developers behind the libraries that made this project possible.
  </p>
  <img class="icon-big" src="/images/logo.png" alt="Open book logo"/>
</div>
