<h2>Search the library!</h2>
<div th:replace="search/searchbar"></div>
<h2>Browse the books!</h2>
<table class="full-width margin-bottom">
  <tr class="grid-5">
    <td th:each="book:${books}">
      <a th:href="@{|~/books/${book.id}|}"><img th:src="@{|~/books/${book.id}/cover.png|}" th:alt="${book.name}"/></a>
    </td>
  </tr>
</table>
<h2>Ascertain the authors!</h2>
<table class="full-width margin-bottom">
  <tr class="grid-3">
    <td th:each="author:${authors}">
      <a class="button-style" th:href="@{|~/authors/${author.id}|}" th:text="${author.name}"></a>
    </td>
  </tr>
</table>
<h2>See the subjects!</h2>
<table class="full-width">
  <tr class="grid-3">
    <td th:each="subject:${subjects}">
      <a class="button-style" th:href="@{|~/subjects/${subject.id}|}" th:text="${subject.name}"></a>
    </td>
  </tr>
</table>
