<h2>Search the library!</h2>
<div th:replace="home/searchbar"></div>
<h2>Browse the books!</h2>
<table class="full-width margin-bottom">
  <thead>
    <tr class="grid-5">
      <td th:each="book:${books}">
        <i><a th:href="@{|/books/${book.id}|}" th:text="${book.name}"></a></i>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr class="grid-5">
      <td th:each="book:${books}">
        <a th:href="@{|/books/${book.id}|}"><img th:src="${book.cover}" th:alt="${book.name}"/></a>
      </td>
    </tr>
  </tbody>
</table>
<h2>See the authors!</h2>
<table class="full-width">
  <tbody>
    <tr class="grid-5">
      <td th:each="author:${authors}">
        <a th:href="@{|/authors/${author.id}|}" th:text="${author.name}"></a>
      </td>
    </tr>
  </tbody>
</table>
