<form class="margin-bottom" action="search" method="post">
  <input class="button-style" type="text" th:name="terms" th:value="${terms}" placeholder="Enter search terms"/>
  <input class="button-style" type="submit" value="Search"/>
  <select class="button-style" th:name="filter">
    <option value="books">Books</option>
    <option value="authors" th:selected="${filter=='authors'}">Authors</option>
    <option value="subjects" th:selected="${filter=='subjects'}">Subjects</option>
    <option value="lists" th:selected="${filter=='lists'}">Lists</option>
  </select>
  <select class="button-style" th:name="sort">
    <!-- TODO - Add more sorting options, dork! -->
    <option value="name">By name</option>
  </select>
  <select class="button-style" th:name="order">
    <option value="asc">Ascending</option>
    <option value="desc" th:selected="${order=='desc'}">Descending</option>
  </select>
</form>
