<h2>Search the library!</h2>
<div th:replace="home/searchbar"></div>
<table id="search-results" class="full-width margin-bottom">
  <tr th:each="result:${results}">
    <td class="button-style"><a th:href="@{|/${filter}/${result.id}|}" th:text="${result.name}"></a></td>
  </tr>
</table>
<div class="grid-2">
  <div style="text-align:left">
    <span th:each="pageNumber:${resultPages}" th:switch="${pageNumber}">
      <span th:case="..."> . . . </span>
      <span class="button-style button-dark" th:case="${page}" th:text="${pageNumber}"></span>
      <a class="button-style" th:case="*" th:href="@{${currentUrl}(page=${pageNumber})}" th:text="${pageNumber}"></a>
    </span>
  </div>
  <div style="text-align:right">Found <span th:text="${resultCount}"></span> results</div>
</div>
