<h2>Search the library!</h2>
<form class="margin-bottom" action="search" method="post">
  <input class="button-style" type="text" th:name="terms" th:value="${terms}" placeholder="Enter search terms"/>
  <input class="button-style" type="submit" value="Search"/>
  <select class="button-style" th:name="filter">
    <option value="books">Books</option>
    <option value="authors" th:selected="${filter=='authors'}">Authors</option>
    <option value="subjects" th:selected="${filter=='subjects'}">Subjects</option>
    <option value="lists" th:selected="${filter=='lists'}">Lists</option>
  </select>
  <select class="button-style" th:name="sort">
    <!-- TODO - Add more sorting options, dork! -->
    <option value="name">By name</option>
  </select>
  <select class="button-style" th:name="order">
    <option value="asc">Ascending</option>
    <option value="desc" th:selected="${order=='desc'}">Descending</option>
  </select>
</form>
<table id="search-results" class="margin-bottom">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="result:${results}">
      <td th:text="${result.id}"></td>
      <td th:text="${result.name}"></td>
    </tr>
  </tbody>
</table>
<div class="grid-2">
  <div style="text-align:left">
    <span th:each="pageNumber:${resultPages}" th:switch="${pageNumber}">
      <span th:case="..."> . . . </span>
      <span class="button-style button-dark" th:case="${page}" th:text="${pageNumber}"></span>
      <a class="button-style" th:case="*" th:href="@{${currentUrl}(page=${pageNumber})}" th:text="${pageNumber}"></a>
    </span>
  </div>
  <div style="text-align:right">Found <span th:text="${resultCount}"></span> results</div>
</div>
