/*
Color Palette
Head/foot bg:   #9BB0D1
Main bg:        #F8F8F8
Head/foot text: #FFFFFF
Main text:      #444444
Link normal:    #3366BB
Link hover:     #0645AD
Input hover:    #F0F0F0
*/

/* Font by Paul D. Hunt - https://fonts.google.com/specimen/Source+Code+Pro */

@font-face {
  font-family: "Source Code Pro";
  src: url('../fonts/SourceCodePro/SourceCodePro-Regular.ttf');
}

/* Element selectors */

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-flow: column;
  font-size: medium;
}

header {
  display: grid;
  grid-template-columns: 777fr 1fr;
}

main {
  flex-grow: 1;
  background-color: #F8F8F8;
  color: #222222;
  font-family: "Helvetica", sans-serif;
}

main a, main a:visited {
  color: #3366BB;
}

main a:hover {
  color: #0645AD;
}

footer {
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

table {
  margin: -4px;
}

table td {
  padding: 2px;
}

table a {
  display: block;
}

table img {
  max-height: 100%;
  width: 100%;
}

/* Class selectors */

.outer-content {
  padding: 16px 80px;
  background-color: #9BB0D1;
  font-family: "Verdana", serif;
}

.outer-content * {
  color: #FFFFFF;
}

.outer-content a:hover {
  color: #222222;
  text-shadow: 0 0 9px #FFFFFF;
}

.inner-content {
  padding: 32px 80px;
}

.margin-bottom, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 16px;
}

.full-width {
  width: 100%;
}

.full-width-table {
  width: calc(100% + 8px);
}

.align-right {
  text-align: right;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.element-list *:not(a, img) {
  display: block;
}

.element-list *:not(label, img) {
  margin-bottom: 16px;
}

.button-style {
  border: 2px solid #444444;
  border-radius: 2px;
  background: none;
  padding: 4px;
  font-size: medium;
}

.button-style:hover, .button-dark {
  background-color: #F0F0F0;
}

.clickable {
  cursor: pointer;
}

.help-message {
  font-size: small;
}

.success-message {
  color: #00DD00;
}

.error-message {
  color: #FF0000;
}

.text-box {
  text-align: justify;
  width: 50%;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
}

.pop-up {
  background-color: #F8F8F8;
  border: 2px solid #444444;
  border-radius: 2px;
  padding: 16px;
  max-height: 50%;
  width: 50%;
  top: 25%;
  left: 25%;
  position: fixed;
  overflow: auto;
}

.profile-picture {
  width: 100px;
  height: 100px;
}

/* ID selectors */

#title {
  margin: 0;
  font-family: "Source Code Pro", monospace;
  font-size: xx-large;
}

/* Special selectors */

@media only screen and (max-width: 1024px) {

  body, .button-style {
    font-size: large;
  }

  .outer-content, .inner-content {
    padding: 16px;
  }

  .help-message {
    font-size: medium;
  }

  #title {
    font-size: xxx-large;
  }

}
